<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
      <p>&nbsp;</p>
      <h1>Basic Login With Sails</h1>
      <p>&nbsp;</p>
      <% if (req.session.me) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a  class="btn btn-primary" href="/login">Login</a>  <a  class="btn btn-success" href="/signup">Signup</a>
      <% } %>
  
    </div>
    
    <!--SCRIPTS-->
    <footer>
      <% include ./partials/footer %>
  </footer>

</body>

</html>