
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
            <h1>Welcome! You have signed up successfully!</h1>

            <a class="btn btn-primary" href="/">Back to home page</a>
            <a  class="btn btn-danger" href="/logout">Log out</a>
      
    </div>
    
    <!--SCRIPTS-->
    <footer>
      <% include ../partials/footer %>
  </footer>

</body>

</html>